.nav_container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid white 1px;
}

.logo {
  height: 40px;
  margin-left: 10px;
}

.Tooltip {
  display: flex;
}

@media screen and (min-width: 600px) {
  .logo {
    height: 60px;
    margin-left: 40px;
  }
  .Tooltip {
    align-items: center;
    text-align: center;
  }
}
