.connection_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.login_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.switch_btn_login_register {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
}

.more_info_btn {
  color: white;
  margin-bottom: 10px;
}

.more_infos_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
