@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.card {
  width: 80svw;
  height: 60px;
  background-color: var(--light);
  border-radius: 10px;
  font-family: var(--global-font);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.303);
}

.status {
  width: 200px;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.151);
}

.status_pr_id {
  width: 40%;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.status_name {
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.infos {
  width: 40%;
  margin-left: 1rem;
}

.infos p {
  width: 33%;
  color: black;
  font-size: 0.8em;
  overflow: hidden;
}

.buttons {
  width: 40%;
  margin-right: 15px;
}

.buttons_link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Status colors --- */
.waitingReview {
  background-color: #6ca8e0;
  border-radius: 10px;
}

.inProgress {
  background-color: #e0db6c;
  border-radius: 10px;
}

.waitingCorrection {
  background-color: #e0ab6c;
  border-radius: 10px;
}

.correctionDone {
  background-color: #ad6ce0;
  border-radius: 10px;
}

.resquestRejected {
  background-color: #e07a6c;
  border-radius: 10px;
}

.requestValidated {
  background-color: #7add84;
  border-radius: 10px;
}

.defaultColor {
  background-color: #e8e8e8;
  border-radius: 10px;
}
