.card {
  width: 80svw;
  height: 60px;
  background-color: var(--light);
  border-radius: 10px;
  font-family: var(--global-font);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.303);
}

.status {
  width: 25%;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.151);
}

.status_pr_id {
  padding-inline: 0.8rem;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.status_name {
  padding-inline: 0.8rem;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.pr {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infos {
  width: 50%;
  margin-left: 1rem;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.infos p {
  width: 30%;
  color: black;
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infos p:nth-of-type(3) {
  width: 40%;
}

.buttons {
  width: 30%;
  margin-right: 15px;
  justify-content: end;
  align-items: center;
  gap: 5%;
}

.buttons_link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Status colors --- */
.waitingReview {
  background-color: #6ca8e0;
  border-radius: 10px;
}

.inProgress {
  background-color: #e0db6c;
  border-radius: 10px;
}

.waitingCorrection {
  background-color: #e0ab6c;
  border-radius: 10px;
}

.correctionDone {
  background-color: #ad6ce0;
  border-radius: 10px;
}

.resquestRejected {
  background-color: #e07a6c;
  border-radius: 10px;
}

.requestValidated {
  background-color: #7add84;
  border-radius: 10px;
}

.defaultColor {
  background-color: #e8e8e8;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .card {
    height: 100px;
  }

  .pr {
    justify-content: space-evenly;
    align-items: start;
    margin-inline: 1rem;
    position: relative;
  }

  .infos {
    width: 60%;
    margin-left: 0;
    justify-content: space-between;
  }

  .infos p {
    width: 50%;
    text-align: center;
  }

  .buttons {
    width: 60%;
    margin-right: 0;
    justify-content: space-around;
  }

  .buttons :nth-child(4) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
  }
}
