.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(62, 62, 62, 0.5);
  backdrop-filter: blur(10px);
}

.header > ul {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--light);
}

.row {
  margin-block: 1rem;
  color: var(--light);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row > div,
.header > ul > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.row > div:first-of-type,
.header > ul > div:first-of-type {
  flex: 4;
}

.row > div:last-of-type,
.header > ul > div:last-of-type {
  flex: 3;
}

.name {
  flex: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.role {
  flex: 2;
}

.group {
  flex: 1;
  text-align: center;
}

.group > label {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.input {
  width: 3rem;
  height: 2rem;
  font: var(--input-text);
  background-color: var(--light);
  border-radius: 0.25rem;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.button {
  flex: 3;
  text-align: end;
}

@media screen and (max-width: 767px) {
  .header > ul {
    flex-direction: column;
    gap: 0.5rem;
  }
  .row {
    flex-direction: column;
    gap: 1rem;
  }

  .row > div,
  .header > ul > div {
    width: 100%;
    justify-content: space-between;
  }

  .name {
    max-width: 60%;
    flex: none;
  }

  .role {
    flex: none;
    text-align: end;
  }

  .group {
    flex: none;
    text-align: start;
  }

  .button {
    flex: none;
  }
}
