.pendingUsersRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.buttonsBlock {
  display: flex;
  width: 15rem;
  flex-direction: row;
  justify-content: space-around;
}
.buttonsBlock button {
  background-color: transparent;
}
