.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.moreInfos {
  font: --section-title;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.descriptionTitle {
  padding-top: 2.5rem;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.25rem;
}

.descriptionText {
  padding-top: 2.5rem;
  font-family: "Montserrat";
  font-weight: 200;
  font-size: 1.25rem;
}
