* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style-type: none;

  /* --- CSS Variables --- */

  /* Colors */
  --light: #e8e8e8; /* Used for inputs and PR cards */
  --dark: #292929; /* Used for modals */
  --action: #3883ba; /* Used for buttons and other interactive elements */
  --background: #1d1d1d;
  --error: #ed4337;

  --waitingReview: #6ca8e0;
  --inProgress: #e0db6c;
  --waitingCorrection: #e0ab6c;
  --correctionDone: #ad6ce0;
  --requestRejected: #e07a6c;
  --requestValidated: #7add84;
  --defaultColor: var(--action);

  /* Fonts */
  --global-font: "Montserrat", sans-serif;
  --input-label: 400 1.1em var(--global-font);
  --input-text: 400 0.9em var(--global-font);
  --section-title: 600 2em var(--global-font);
}

body {
  font-family: var(--global-font);
  background: radial-gradient(circle, rgb(40, 40, 40) 0%, rgb(29, 29, 29) 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button {
  color: var(--light);
}

button {
  cursor: pointer;
}

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  body {
    scrollbar-color: var(--action) transparent;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  body::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-button {
    background: var(--action);
  }
}
