.container {
  min-height: 70vh;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title {
  padding-left: 16rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.project_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading_container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.form h2 {
  font: --section-title;
  text-align: center;
  font-size: 40px;
  border-bottom: solid 1px;
  padding-bottom: 2rem;
}

.button {
  display: flex;
  justify-content: center;
}
