.project_container {
  min-height: 70vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading_container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}