.request_list_container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no_content_text {
  font-family: var(--global-font);
  font-size: 2rem;
}

.head {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem 1rem;
}

.head > h3 {
  font: 300 1.2em var(--global-font);
}

.head_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
  gap: 1rem;
}

.head_btn_new {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.head_btn_filters {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-grow: 2;
  gap: 1rem;
}

.requests_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.modal {
  background-color: #292929;
}

@media screen and (max-width: 1024px) {
  .head {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .head_btn {
    width: 100%;
    justify-content: center;
    align-items: start;
    align-content: space-between;
  }
}
