.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100dvh;
}

.notFoundPage a {
  text-decoration: none;
}
.notFoundPage img {
  width: 35vw;
  max-width: 500px;
  min-width: 200px;
}

.notFoundBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 80vw;
  max-width: 1000px;
}

.notFoundBlock h1 {
  font-size: 9vw;
}

.notFoundBlock p {
  font-size: 3vw;
  text-align: center;
  width: 70%;
}

@media screen and (min-width: 1100px) {
  .notFoundBlock h1 {
    font-size: 5rem;
  }

  .notFoundBlock p {
    font-size: 2rem;
  }
}
